/****** Object:  Table [dbo].[reader]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reader](
	[id_reader] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[reader_num] [nchar](100) NOT NULL,
 CONSTRAINT [PK_reader] PRIMARY KEY CLUSTERED 
(
	[id_reader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[issuance]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[issuance](
	[id_issuance] [int] IDENTITY(1,1) NOT NULL,
	[id_copy] [int] NOT NULL,
	[id_reader] [int] NOT NULL,
	[issue_date] [date] NOT NULL,
	[release_date] [date] NOT NULL,
	[deadline_date] [date] NOT NULL,
 CONSTRAINT [PK_issuance] PRIMARY KEY CLUSTERED 
(
	[id_issuance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[reader_rating]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[reader_rating] 
WITH SCHEMABINDING
AS
SELECT 
	r.id_reader, 
	(SELECT ri.last_name + ' ' + ri.first_name FROM dbo.reader AS ri 
		WHERE ri.id_reader = r.id_reader) AS name,
	COUNT(*) AS  quantity
FROM dbo.reader AS r
LEFT JOIN dbo.issuance AS i ON i.id_reader = r.id_reader
GROUP BY r.id_reader

GO
/****** Object:  View [dbo].[first_100_readers]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[first_100_readers] AS
SELECT TOP 100 * FROM reader ORDER BY id_reader ASC

WITH CHECK OPTION
GO
/****** Object:  Table [dbo].[book]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id_book] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](13) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[page_num] [int] NULL,
	[publication_year] [smallint] NULL,
 CONSTRAINT [PK_book] PRIMARY KEY CLUSTERED 
(
	[id_book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[copy]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[copy](
	[id_copy] [int] IDENTITY(1,1) NOT NULL,
	[id_book] [int] NOT NULL,
	[number] [nvarchar](50) NOT NULL,
	[admission_date] [date] NOT NULL,
 CONSTRAINT [PK_copy] PRIMARY KEY CLUSTERED 
(
	[id_copy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[issuance_detail]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[issuance_detail] AS
SELECT id_issuance
      , r.last_name + ' ' + r.first_name as reader
      , b.name as book
      ,issue_date
      ,release_date
      ,deadline_date
  FROM [dbo].[issuance] AS i
  LEFT JOIN reader AS r ON i.id_reader = r.id_reader
  LEFT JOIN copy AS c ON c.id_copy = i.id_copy
  LEFT JOIN book AS b ON b.id_book = c.id_book
GO
/****** Object:  Table [dbo].[author]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author](
	[id_author] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_author] PRIMARY KEY CLUSTERED 
(
	[id_author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[author_has_book]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author_has_book](
	[id_book] [int] NOT NULL,
	[id_author] [int] NOT NULL,
 CONSTRAINT [PK_author_has_book] PRIMARY KEY CLUSTERED 
(
	[id_book] ASC,
	[id_author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id_category] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_has_book]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_has_book](
	[id_category] [int] NOT NULL,
	[id_book] [int] NOT NULL,
 CONSTRAINT [PK_category_has_book] PRIMARY KEY CLUSTERED 
(
	[id_category] ASC,
	[id_book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[author] ON 

INSERT [dbo].[author] ([id_author], [first_name], [last_name]) VALUES (711, N'Van', N'Parks')
INSERT [dbo].[author] ([id_author], [first_name], [last_name]) VALUES (712, N'Willis', N'Patrick')
INSERT [dbo].[author] ([id_author], [first_name], [last_name]) VALUES (713, N'Beth', N'Drake')
SET IDENTITY_INSERT [dbo].[author] OFF
INSERT [dbo].[author_has_book] ([id_book], [id_author]) VALUES (71, 711)
INSERT [dbo].[author_has_book] ([id_book], [id_author]) VALUES (117, 711)
INSERT [dbo].[author_has_book] ([id_book], [id_author]) VALUES (129, 711)
GO
SET IDENTITY_INSERT [dbo].[book] ON 

INSERT [dbo].[book] ([id_book], [ISBN], [name], [page_num], [publication_year]) VALUES (1, N'4887084793486', N'Lord Of Dread', 215, 1947)
INSERT [dbo].[book] ([id_book], [ISBN], [name], [page_num], [publication_year]) VALUES (2, N'1781739866104', N'Pilot Of Fortune', 467, 1908)
INSERT [dbo].[book] ([id_book], [ISBN], [name], [page_num], [publication_year]) VALUES (3, N'2238467303760', N'Fish Without Faith', 863, 1958)
GO
SET IDENTITY_INSERT [dbo].[book] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id_category], [name]) VALUES (1, N'Adventure novel')
INSERT [dbo].[category] ([id_category], [name]) VALUES (124, N'Alien invasion')
INSERT [dbo].[category] ([id_category], [name]) VALUES (139, N'Alternative history')
GO
SET IDENTITY_INSERT [dbo].[category] OFF
INSERT [dbo].[category_has_book] ([id_category], [id_book]) VALUES (1, 41)
INSERT [dbo].[category_has_book] ([id_category], [id_book]) VALUES (1, 133)
INSERT [dbo].[category_has_book] ([id_category], [id_book]) VALUES (1, 260)
GO
SET IDENTITY_INSERT [dbo].[copy] ON 

INSERT [dbo].[copy] ([id_copy], [id_book], [number], [admission_date]) VALUES (1, 297, N'438309', CAST(N'1998-02-01' AS Date))
INSERT [dbo].[copy] ([id_copy], [id_book], [number], [admission_date]) VALUES (2, 218, N'438310', CAST(N'1993-12-09' AS Date))
INSERT [dbo].[copy] ([id_copy], [id_book], [number], [admission_date]) VALUES (3, 73, N'438311', CAST(N'2011-05-15' AS Date))
GO
SET IDENTITY_INSERT [dbo].[copy] OFF
SET IDENTITY_INSERT [dbo].[issuance] ON 

INSERT [dbo].[issuance] ([id_issuance], [id_copy], [id_reader], [issue_date], [release_date], [deadline_date]) VALUES (1, 478, 87, CAST(N'2000-09-24' AS Date), CAST(N'2000-10-08' AS Date), CAST(N'2000-10-01' AS Date))
INSERT [dbo].[issuance] ([id_issuance], [id_copy], [id_reader], [issue_date], [release_date], [deadline_date]) VALUES (2, 152, 173, CAST(N'2013-03-03' AS Date), CAST(N'2013-04-17' AS Date), CAST(N'2013-03-17' AS Date))
INSERT [dbo].[issuance] ([id_issuance], [id_copy], [id_reader], [issue_date], [release_date], [deadline_date]) VALUES (3, 162, 56, CAST(N'2012-09-30' AS Date), CAST(N'2012-10-21' AS Date), CAST(N'2012-10-14' AS Date))
GO
SET IDENTITY_INSERT [dbo].[issuance] OFF
SET IDENTITY_INSERT [dbo].[reader] ON 

INSERT [dbo].[reader] ([id_reader], [first_name], [last_name], [reader_num]) VALUES (1, N'Clyde', N'Adams', N'11111                                                                                               ')
INSERT [dbo].[reader] ([id_reader], [first_name], [last_name], [reader_num]) VALUES (2, N'Helen', N'Adams', N'23657                                                                                               ')
INSERT [dbo].[reader] ([id_reader], [first_name], [last_name], [reader_num]) VALUES (3, N'Dianne', N'Adkins', N'23637                                                                                               ')
GO
SET IDENTITY_INSERT [dbo].[reader] OFF
/****** Object:  Index [IX_book_id_author]     ******/
CREATE NONCLUSTERED INDEX [IX_book_id_author] ON [dbo].[author_has_book]
(
	[id_author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IU_category_name]     ******/
CREATE UNIQUE NONCLUSTERED INDEX [IU_category_name] ON [dbo].[category]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_issuance_id_reader]     ******/
CREATE NONCLUSTERED INDEX [IX_issuance_id_reader] ON [dbo].[issuance]
(
	[id_reader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_issuance_id_reader_id_copy]     ******/
CREATE NONCLUSTERED INDEX [IX_issuance_id_reader_id_copy] ON [dbo].[issuance]
(
	[id_reader] ASC,
	[id_copy] ASC
)
INCLUDE ( 	[issue_date]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_issuance_release_date]     ******/
CREATE NONCLUSTERED INDEX [IX_issuance_release_date] ON [dbo].[issuance]
(
	[release_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[author_has_book]  WITH CHECK ADD  CONSTRAINT [FK_author_has_book_author] FOREIGN KEY([id_author])
REFERENCES [dbo].[author] ([id_author])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[author_has_book] CHECK CONSTRAINT [FK_author_has_book_author]
GO
ALTER TABLE [dbo].[author_has_book]  WITH CHECK ADD  CONSTRAINT [FK_author_has_book_id_book] FOREIGN KEY([id_book])
REFERENCES [dbo].[book] ([id_book])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[author_has_book] CHECK CONSTRAINT [FK_author_has_book_id_book]
GO
ALTER TABLE [dbo].[category_has_book]  WITH CHECK ADD  CONSTRAINT [FK_category_has_book_book] FOREIGN KEY([id_book])
REFERENCES [dbo].[book] ([id_book])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[category_has_book] CHECK CONSTRAINT [FK_category_has_book_book]
GO
ALTER TABLE [dbo].[category_has_book]  WITH CHECK ADD  CONSTRAINT [FK_category_has_book_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id_category])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[category_has_book] CHECK CONSTRAINT [FK_category_has_book_category]
GO
ALTER TABLE [dbo].[copy]  WITH CHECK ADD  CONSTRAINT [FK_copy_book] FOREIGN KEY([id_book])
REFERENCES [dbo].[book] ([id_book])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[copy] CHECK CONSTRAINT [FK_copy_book]
GO
ALTER TABLE [dbo].[issuance]  WITH CHECK ADD  CONSTRAINT [FK_issuance_copy] FOREIGN KEY([id_copy])
REFERENCES [dbo].[copy] ([id_copy])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[issuance] CHECK CONSTRAINT [FK_issuance_copy]
GO
ALTER TABLE [dbo].[issuance]  WITH CHECK ADD  CONSTRAINT [FK_issuance_reader] FOREIGN KEY([id_reader])
REFERENCES [dbo].[reader] ([id_reader])
GO
ALTER TABLE [dbo].[issuance] CHECK CONSTRAINT [FK_issuance_reader]
GO
/****** Object:  StoredProcedure [dbo].[count_readers]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- создание процедуры
CREATE PROCEDURE [dbo].[count_readers] 
	-- входящий параметр
	@cnt INT OUTPUT 
AS   
    SELECT @cnt = COUNT(*)
    FROM reader
GO
/****** Object:  StoredProcedure [dbo].[reader_procedure]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reader_procedure]
AS   
    SET NOCOUNT ON;  
    SELECT *
    FROM reader
GO
/****** Object:  StoredProcedure [dbo].[reader_procedure1]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- создание процедуры
CREATE PROCEDURE [dbo].[reader_procedure1]
AS   
    SELECT *
    FROM reader
GO
/****** Object:  StoredProcedure [dbo].[reader_procedure2]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- создание процедуры
CREATE PROCEDURE [dbo].[reader_procedure2]
AS   
    SELECT *
    FROM reader
  
    SELECT *
    FROM book
GO
/****** Object:  StoredProcedure [dbo].[return_code]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- создание процедуры
CREATE PROCEDURE [dbo].[return_code] 
AS   
    RETURN (0)
GO
USE [master]
GO
